
thead {
    background-color: blue;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 15%;
}
tfoot {
    text-align: left;
    color: blue;
}
tbody {
    text-align: center;
    color: green;
}

a[title] {
    text-align: center;
    background-color: chocolate;
    padding: 5px;
    margin: 10%;
    border: solid;
    border-radius: 4px;
    border-color: darkorchid;
    color: yellow;
}

a:link {
    color: aqua;
}

h1 {
    text-align: center;
    
}

.k {
    width: 100px;
    height: 100px;
    background-color: deepskyblue;
    border: solid 1px;
    padding: 4px;
    margin: 5px;
}
.k1 {
    position: relative;
    left: 40px;

}

.k2 {
    background-color: burlywood;
    position: fixed; left: 90%; top: 85%;
    
    
}
.k3 {
    background-color: chocolate;
    position: absolute; right: 50%; top: 57%;
    
}

.vv > p {
    color: blue;
}

.vv ~ p {
    color: cadetblue;
    font-style: italic;
}
.vv + p {
    color: red;
    font-style: normal;
}

